body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #5534A5;
}

.sec-container {
  position: relative;

  width: 80em;
  height: 50em;
  
  border-radius: 1em;
  
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 50em;

  display: flex;

  background-color: dodgerblue;
}

.slides > input {
  display: none;
}

.slide {
  width: 20%;

  transition: all 2s ease;
}

.slide img {
  width: 80em;
  height: 50em;
}

/* manual nav */

.navegation-manual {
  position: absolute;

  top: 95%;
  left: 0;

  width: 80em;

  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 0.1em solid #6FDFDF;
  border-radius: 50%;

  padding: 0.5em;

  cursor: pointer;

  transition: all 0.3s ease-out;
}

.manual-btn:not(:last-child) {
  margin-right: 2em;
}

.manual-btn:hover {
  background-color: #6FDFDF;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}


.navegation-auto {
  position: absolute;

  top: 95%;
  left: 0;

  width: 80em;

  display: flex;
  justify-content: center;
}

.navegation-auto div {
  border: 0.1em solid #6FDFDF;
  border-radius: 50%;

  padding: 0.5em;
  transition: all 1s;
}

.navegation-auto div:not(:last-child) {
  margin-right: 2em;
}

#radio1:checked ~ .navegation-auto .auto-btn1 {
  background-color: #6FDFDF;
}

#radio2:checked ~ .navegation-auto .auto-btn2 {
  background-color: #6FDFDF;
}

#radio3:checked ~ .navegation-auto .auto-btn3 {
  background-color: #6FDFDF;
}

#radio4:checked ~ .navegation-auto .auto-btn4 {
  background-color: #6FDFDF;
}